    
    <div id="main-first-header">
        <div class="logo-header" id="left-logo">
        <img src="/images/sekanevamwe.jpg">
        
        </div>
        
        <div  class="logo-header" id="right-logo">
            <ul id="nav">
              <li  class="nav"><a href="default.asp">Home</a></li>             
              <li  class="nav"><a href="about.asp">Fidelis</a></li>
              <li  class="nav"><a  href="about.asp">login</a></li>
              <li> 
                <form action = "/users/login" method = "get">
                <input class="login-button" type="submit" value="Login" id="login-user"/>
                </form>
              </li>
            </ul>
        </div>

    </div>

    <div id="main-second-header">
        <div class="second-header">
          <form action = "/jokes/regular" method = "get">
              <input class="second-header-button" type="submit" value="Regular" id="regular-jokes"/>
          </form>
        </div>

         <div class="second-header">
          <form action = "/jokes/eighteen" method = "get">
              <input  class="second-header-button" type="submit" value="18+" id="eighteen-jokes"/>
          </form>
        </div>

         <div class="second-header">
          <form action = "/jokes/all_jokes" method = "get">
              <input  class="second-header-button" type="submit" value="All Jokes" id="all-jokes"/>
          </form>
        </div>

         <div class="second-header">
          <form action = "/jokes/new_joke" method = "get">
              <input  class="second-header-button" type="submit" value="New Joke" id="new-joke"/>
          </form>
        </div>


        
    </div>