  
    <div id="main-first-header" class="inlineb">
        <div class="logo-header inlineb" id="left-logo">
          <a href="/">
            <img src="/images/sekanevamwe.jpg" id="logo">
          </a>
        </div>     

        <div  class="logo-header inlineb" id="right-logo">
            <ul id="nav">
              <li  class="nav inlineb"><b><a href="/jokes/regular">Sekanevamwe</a></b></li>              
              <% if(user){%>
                <li class="nav inlineb"><b><%= user.username%></b></li>
                <li class="nav inlineb">
                  <b>
                    <form action = "/users/logout" method = "get">
                      <input class="login-logout" type="submit" value="logout" />
                    </form>
                  </b>
                </li>
              <%}else{%>
                <li class="nav inlineb">
                  <b>
                    <form action = "/users/login" method = "get">
                      <input class="login-logout" type="submit" value="login" />
                    </form>
                  </b>
                </li>
               <%}%>                         
            </ul>
        </div>
    </div>
    <div id="joke-regulator" class="">
          <ul class="horizontal-navigation">
            <li class="navigator" title="Regular Jokes" style="border-top-left-radius: 6px"><a href="/jokes/regular">Regular</a></li>
            <li class="navigator" title="18+ Jokes"><a href="/jokes/eighteen">18+</a></li>
            <li class="navigator" title="All Jokes"><a href="/jokes/all_jokes">All Jokes</a></li>
            <%if(user){%>
              <li class="navigator" style="border-top-right-radius: 6px"><a href="/jokes/new_joke">New Joke</a></li>
            <%}%>    
          </ul>
        </div>
