body{
  background:#b0c4de;
}

.first-column-input{
  width:90px;
}



#bottom-div{
  background: #b0c4de;

}


.t-form-rows{
  display: block;
  margin: 20px;
}

.input-fields{
  width:490px;
  height:40px;
  border-radius:5px;
  outline:0px;
  border-color:black;
  border-width:1px;
}

#comment-button{
  width:77px;
  height:40px;
  border-radius:5px;
}

.joke-comments{
  height:90px;
}

.show-content{
  white-space: pre;
}

textarea{
  min-width:490px;
  max-width:490px;
  border-radius:5px;
  outline:0px;
  border-color:black;
  border-width:1px;
}

.horizontal-navigation{
  list-style-type: none;
  margin: 0px;
  padding: 0px;


}

#joke-regulator{
  margin-right: 10px;
  margin-left:100px;  
  width: 80%;
  margin-top: 2px;   
  font-size: 15px;
  


}

#joke-regulator li{
  margin: 5px;
  margin-left: 5%;
  border-radius: 2px;
 /* background-color:  #66FF66;*/
  font-size: 20px;
  width:100px;
  text-align: center;

 
}


.inlineb{
  display: inline-block;
  vertical-align: top;
}


.navigator{
    float: left;
    padding:5px;    
    border-top-right-radius: 8px;
    margin-left: 2px;
    border-bottom-right-radius: 8px;
    
   
}

.navigator li{
  text-align: center;

}


.errors{
  color:red;
}


pre{
  width:500px;
 
}


.nav{
  margin-right: 20px;
  margin-top: 10px;
  font-size: 15px;
}


.joke-head{
  padding:20px;
  
}
.logo-header img{
  height: 50px;
  border-radius: 20px;
  margin: 5px;

}
#left-logo{
}

#right-logo{
  float: right;
}


#main-first-header{
  margin-top:0px;
  width: 100%;
  background-color: #66FF66;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.like{
  background-image: url("/images/Thumb-Up-icon.png");
  background-size: contain;
  background-color: transparent;
  border:0px;
  outline:none;
  height:30px;
  width:30px;
;
}
.dislike{
  background-image: url("/images/Thumb-Down-icon.png") ;
  background-size: contain;
  background-color: transparent;
  border:0px;
  outline:none;
  height:30px;
  width:30px;
}


.profile_picture{
  height:50px;
  width:auto;
}

.inner-joke{
  float:left;
  margin-right: 10px;
  font-size: 10px;
  color:#669999;

}

/*
research display: block and display : inline;
*/

.joke-title{
  font-size: 30px;
}
button{
  outline: 0px;

}
.joke-row{
  height:75px;
}

.joke-title-row{
  height:20px;
  
}

.div_2_styling{
  font-style: bold;
}

section{ 
   
  margin-right:auto;
  margin-top:50px;
  width:65%;
  margin-left:auto; 
  height:auto;


}
.display{
  margin-top: 60px;
}


.main-body{
  float:left;  
  border-radius: 30px; 
}


.login-logout{
  background-color: inherit;
  border:0px;
  outline:0px;
}





