/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/
 /*
 logo-header
 */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

a {
    display: block;
    width: 60px;
    
}
.logo-header{
  
  float:left;

}
#left-logo{
  width:40px;
}

#right-logo{
  margin-left:80%;
}


#main-first-header{
  height:20px;
   
  
}

#main-second-header{
  height:40px;
  width:50%;
  margin-right: auto;
  margin-left: auto;
}

.second-header{
  float:left;


}

.second-header-button{
  height:40px;
  width:80px;
  border-radius:20px;
  outline: 0px;
}



#id{  
 

}


/*
#right-main-body{
  height:200px;
  width:300px;
  margin-left: 100px;
  background-color: green;
}*/
/*#left-main-body{
  height:200px;
  width:300px;
  margin-right:30px;
  background-color: blue;
}*/

/*#center-main-body{
  width:500px;
  background-color: red; 
  height:900px;
}*/

section{ 
  margin-top:100px;  
  margin-right:auto;
  width:50%;
  margin-left:auto;
  background-color: red;
  height:10000px;
}


.main-body{
  float:left;  
  border-radius: 30px; 
}





