 <% layout('layouts/main-layout') -%>
 <div class="display">
 <% if(Object.getOwnPropertyNames(errors).length===0){%>
    
 <%}else{%>
    <ul>
        <li class="errors"><%=errors.error%></li>
    </ul>
 <%}%>

    <div id="login">
             <form action="/users/login" method="post">
                <table>
                    <tr class="t-form-rows">
                        <td class="first-column-input"> <label>Username:</label></td>
                        <td><input class="input-fields form-control" type="text" name="username" required/></td>
                    </tr>
                    <tr class="t-form-rows">
                        <td class="first-column-input"> <label>Password:</label></td>
                        <td><input  class="input-fields form-control" type="password" name="password" required/></td>
                    </tr>
                    <tr class="t-form-rows">
                        <td class="first-column-input"> </td>
                        <td> <input type="submit" class="btn btn-default" value="Log In"/></td> 
                        <td><%-link_to('New User','register')%></td>                                            
                    </tr>                                       
                </table>
            </form>         
    </div> 
</div>
