    <% layout('layouts/main-layout') -%>
    <div id="login">
             <form action="/users/login" method="post">
                <table>
                    <tr class="t-form-rows">
                        <td class="first-column-input"> <label>Username:</label></td>
                        <td><input class="input-fields" type="text" name="username"/></td>
                    </tr>
                    <tr class="t-form-rows">
                        <td class="first-column-input"> <label>Password:</label></td>
                        <td><input  class="input-fields" type="password" name="password"/></td>
                    </tr>
                    <tr class="t-form-rows">
                        <td class="first-column-input"> </td>
                        <td> <input type="submit" value="Log In"/></td> 
                        <td><%-link_to('New User','register')%></td>  
                                            
                    </tr>                                       
                </table>
            </form>         
    </div> 
